In [386]:
import pandas as pd
import numpy as np

In [387]:
df = pd.read_csv('C:\\Users\\quynh\\OneDrive\\Máy tính\\DA INTENSIVE\\Movie Recommender System\\Dataset\\raw_movies_data.csv')
genre_list = pd.read_csv('C:\\Users\\quynh\\OneDrive\\Máy tính\\DA INTENSIVE\\Movie Recommender System\\Dataset\\genre_list.csv')

In [388]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9169 entries, 0 to 9168
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              9169 non-null   bool
 1   backdrop_path      9164 non-null   object
 2   genre_ids          9169 non-null   object
 3   id                 9169 non-null   int64
 4   original_language  9169 non-null   object
 5   original_title     9169 non-null   object
 6   overview           9168 non-null   object
 7   popularity         9169 non-null   float64
 8   poster_path        9166 non-null   object
 9   release_date       9169 non-null   object
 10  title              9169 non-null   object
 11  video              9169 non-null   bool
 12  vote_average       9169 non-null   float64
 13  vote_count         9169 non-null   int64
dtypes: bool(2), float64(2), int64(2), object(8)
memory usage: 877.6+ KB

In [389]:
df.duplicated().sum()

3

In [390]:
df.drop_duplicates()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg,"[18, 80]",278,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,137.412,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,1994-09-23,The Shawshank Redemption,False,8.709,25571
1,False,/tmU7GeKVybMWFButWEGl2M4GeiP.jpg,"[18, 80]",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",123.059,/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,1972-03-14,The Godfather,False,8.700,19443
2,False,/kGzFbGhp99zva6oZODW5atUtnqi.jpg,"[18, 80]",240,en,The Godfather Part II,In the continuing saga of the Corleone crime f...,86.197,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,1974-12-20,The Godfather Part II,False,8.587,11732
3,False,/3f92DMBTFqr3wgXpfxzrb0qv8nG.jpg,"[18, 36, 10752]",424,en,Schindler's List,The true story of how businessman Oskar Schind...,79.338,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,1993-12-15,Schindler's List,False,8.569,15124
4,False,/qqHQsStV6exghCM7zbObuYBiYxw.jpg,[18],389,en,12 Angry Men,The defense and the prosecution have rested an...,43.687,/ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg,1957-04-10,12 Angry Men,False,8.545,8036
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9164,False,/sKTTPiNq6tgBpecmoHAvmqG4I4K.jpg,"[878, 28, 12]",5491,en,Battlefield Earth,"In the year 3000, man is no match for the Psyc...",17.144,/wXCRuBHdJ5aTFQdsuGJFXNdo79T.jpg,2000-05-12,Battlefield Earth,False,3.227,786
9165,False,/5V6jAFS0Q49SI07qjyFRMYlbfR9.jpg,"[35, 878]",13805,en,Disaster Movie,"The filmmaking team behind the hits ""Scary Mov...",20.532,/3J8XKUfhJiNzwobUZVtizXYPe8b.jpg,2008-08-29,Disaster Movie,False,3.220,979
9166,False,/aNUEHLNsNMprLZt6fjf5nqDq6er.jpg,"[27, 28, 53]",11059,en,House of the Dead,"Set on an island off the coast, a techno rave ...",12.337,/z2mDGbV4pLtsvSMNnmnSgoVZSWK.jpg,2003-04-11,House of the Dead,False,3.128,366
9167,False,/oHrrgAPEKpz0S1ofQntiZNrmGrM.jpg,"[28, 12, 14, 878, 53]",14164,en,Dragonball Evolution,"On his 18th birthday, Goku receives a mystical...",29.309,/23PcKOqNdhKeMFzORzQGn5eC44N.jpg,2009-03-12,Dragonball Evolution,False,2.900,1957
9168,False,/wDrs28ZYYnXVIeb87H0dCYlWiFA.jpg,"[53, 14, 10749, 27, 878]",40016,en,Birdemic: Shock and Terror,A platoon of eagles and vultures attacks the r...,11.408,/gqmcAVNNUosB55RliecFYnkWT4M.jpg,2010-02-27,Birdemic: Shock and Terror,False,2.156,318

In [391]:
df.isnull().sum()

adult                0
backdrop_path        5
genre_ids            0
id                   0
original_language    0
original_title       0
overview             1
popularity           0
poster_path          3
release_date         0
title                0
video                0
vote_average         0
vote_count           0
dtype: int64

In [392]:
df = df.drop(columns=['backdrop_path', 'poster_path'])

In [393]:
df.isnull().sum()

adult                0
genre_ids            0
id                   0
original_language    0
original_title       0
overview             1
popularity           0
release_date         0
title                0
video                0
vote_average         0
vote_count           0
dtype: int64

In [394]:
df = df.dropna()

In [395]:
df.isnull().sum()

adult                0
genre_ids            0
id                   0
original_language    0
original_title       0
overview             0
popularity           0
release_date         0
title                0
video                0
vote_average         0
vote_count           0
dtype: int64

In [396]:
mapping = {}
for index, row in genre_list.iterrows():
    mapping[row['id']] = row['name']

print(mapping)

{28: 'Action', 12: 'Adventure', 16: 'Animation', 35: 'Comedy', 80: 'Crime', 99: 'Documentary', 18: 'Drama', 10751: 'Family', 14: 'Fantasy', 36: 'History', 27: 'Horror', 10402: 'Music', 9648: 'Mystery', 10749: 'Romance', 878: 'Science Fiction', 10770: 'TV Movie', 53: 'Thriller', 10752: 'War', 37: 'Western'}

In [397]:
def replace_genre_ids(genre_id):
    """
    Replaces genre_ids with corresponding names based on mapping dictionary.

    Args:
        genre_id (str): The string representation of a genre_id

    Returns:
        str: The replaced genre name (e.g. Drama, Crime, etc.).
    """

    try:
        # Handle single value or lists efficiently
        if isinstance(genre_id, list):
            return ', '.join(mapping.get(value) for value in genre_id)
        else:
            return mapping.get(genre_id, genre_id)
    except KeyError:
        # Gracefully handle missing keys
        print(f'WARNING: Unknown genre ID: {genre_id}')
        return genre_id

In [398]:
df['genre_ids'] = df['genre_ids'].apply(lambda x: eval(x))

In [399]:
df['replaced_genre_ids'] = df['genre_ids'].apply(replace_genre_ids)
print(df)

      adult                 genre_ids     id original_language  \
0     False                  [18, 80]    278                en
1     False                  [18, 80]    238                en
2     False                  [18, 80]    240                en
3     False           [18, 36, 10752]    424                en
4     False                      [18]    389                en
...     ...                       ...    ...               ...
9164  False             [878, 28, 12]   5491                en
9165  False                 [35, 878]  13805                en
9166  False              [27, 28, 53]  11059                en
9167  False     [28, 12, 14, 878, 53]  14164                en
9168  False  [53, 14, 10749, 27, 878]  40016                en

                  original_title  \
0       The Shawshank Redemption
1                  The Godfather
2          The Godfather Part II
3               Schindler's List
4                   12 Angry Men
...                          ...
9164           Battlefield Earth
9165              Disaster Movie
9166           House of the Dead
9167        Dragonball Evolution
9168  Birdemic: Shock and Terror

                                               overview  popularity  \
0     Framed in the 1940s for the double murder of h...     137.412
1     Spanning the years 1945 to 1955, a chronicle o...     123.059
2     In the continuing saga of the Corleone crime f...      86.197
3     The true story of how businessman Oskar Schind...      79.338
4     The defense and the prosecution have rested an...      43.687
...                                                 ...         ...
9164  In the year 3000, man is no match for the Psyc...      17.144
9165  The filmmaking team behind the hits "Scary Mov...      20.532
9166  Set on an island off the coast, a techno rave ...      12.337
9167  On his 18th birthday, Goku receives a mystical...      29.309
9168  A platoon of eagles and vultures attacks the r...      11.408

     release_date                       title  video  vote_average  \
0      1994-09-23    The Shawshank Redemption  False         8.709
1      1972-03-14               The Godfather  False         8.700
2      1974-12-20       The Godfather Part II  False         8.587
3      1993-12-15            Schindler's List  False         8.569
4      1957-04-10                12 Angry Men  False         8.545
...           ...                         ...    ...           ...
9164   2000-05-12           Battlefield Earth  False         3.227
9165   2008-08-29              Disaster Movie  False         3.220
9166   2003-04-11           House of the Dead  False         3.128
9167   2009-03-12        Dragonball Evolution  False         2.900
9168   2010-02-27  Birdemic: Shock and Terror  False         2.156

      vote_count                                 replaced_genre_ids
0          25571                                       Drama, Crime
1          19443                                       Drama, Crime
2          11732                                       Drama, Crime
3          15124                                Drama, History, War
4           8036                                              Drama
...          ...                                                ...
9164         786                 Science Fiction, Action, Adventure
9165         979                            Comedy, Science Fiction
9166         366                           Horror, Action, Thriller
9167        1957  Action, Adventure, Fantasy, Science Fiction, T...
9168         318  Thriller, Fantasy, Romance, Horror, Science Fi...

[9168 rows x 13 columns]

In [401]:
df.to_csv('cleaned_movies_data.csv', index=False)